---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import ButtonMenu from "../../components/ButtonMenu.astro";
---

<Layout>
    <Header name="Mugi Poomsaes" href="/" />
  <section>
      <ButtonMenu title="I Chol Bong Poomsaes" href="#" />
      <ButtonMenu title="Jang Bong Poomsaes" href="#" />
      <ButtonMenu title="Tang Bong Poomsaes" href="#" />
      <ButtonMenu title="Puche Poomsaes" href="#" />
    </section>
  </article>
</Layout>