---
import Layout from '../../layouts/Layout.astro';
---

<Layout>  
  <section class="p-2 ">
    <h1 class="text-3xl font-bold ">Ki Hap</h1>
    <hr class="my-4 text-zinc-600" />
    <article>
      <p>here you can find all the Ki Hap of the LQH program</p>
    </article>
  </section>
</Layout>