---
import Layout from "../../layouts/Layout.astro"
import ButtonMenu from "../../components/ButtonMenu.astro";
import TechniquesByGrade from "../../components/TechniquesByGrade.astro"
---
<Layout>
  <section class="flex flex-col h-screen p-2">
    <article class="flex items-center justify-between">
      <ButtonMenu title="Back" href="/hoShinSul" />
      <h1 class="text-3xl font-bold ">Marrón Negro</h1>
    </article>
    <hr class="my-4 text-zinc-600" />
    <article>
      <TechniquesByGrade grade="Marrón Negro" />
    </article>
  </section>
</Layout>