---
import Layout from "../../layouts/Layout.astro"
import TechniquesByGrade from "../../components/TechniquesByGrade.astro"
import Header from "../../components/Header.astro"
---
<Layout>
  <section class="flex flex-col h-screen">
    <Header name="Purpura" href="/hoShinSul" />
    <TechniquesByGrade grade="Purpura" />
  </section>
</Layout>