---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import ButtonMenu from "../../../components/ButtonMenu.astro";
---
<Layout>
  <Header name="Geum Gang Chases" href="/chases" />
  <section class="flex flex-col gap-3">
    <ButtonMenu title="Il Chase GeumGang" href="/chase/geumGang/geumGang1" />
    <ButtonMenu title="I Chase GeumGang" href="/chase/geumGang/geumGang2" />
    <ButtonMenu title="Sam Chase GeumGang" href="/chase/geumGang/geumGang3" />
    <ButtonMenu title="Sa Chase GeumGang" href="/chase/geumGang/geumGang4" />
    <ButtonMenu title="O' Chase GeumGang" href="/chase/geumGang/geumGang5" />
  </section>
</Layout>