---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import ButtonMenu from "../../../components/ButtonMenu.astro";
---
<Layout>
  <Header name="Geum Gang Chases" href="/chases" />
  <section class="flex flex-col gap-3">
    <ButtonMenu title="Il Chase GeumGang" href="/chase/geumGang/geumGang1" class="text-black font-bold py-2 px-2 bg-green-800 rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out" />
    <ButtonMenu title="I Chase GeumGang" href="/chase/geumGang/geumGang2" class="text-black font-bold py-2 px-2 bg-green-800 rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out" />
    <ButtonMenu title="Sam Chase GeumGang" href="/chase/geumGang/geumGang3" class="text-black font-bold py-2 px-2 bg-blue-800 rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out" />
    <ButtonMenu title="Sa Chase GeumGang" href="/chase/geumGang/geumGang4" class="text-black font-bold py-2 px-2 bg-blue-800 rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out" />
  </section>
</Layout>