---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import PoomsaeByName from '../../../components/PoomsaeByName.astro';
---
<Layout>
  <Header name="Sam Chase GeumGang" href="/chase/geumGang/geumGang" />
  <section class="pb-2">
    <PoomsaeByName name="Sam Chase GeumGang Jeumeok" />
  </section>
</Layout>
