---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import ButtonMenu from "../../../components/ButtonMenu.astro";
---
<Layout>
  <Header name="Tang Jong Chases" href="/chases" />
  <section class="flex flex-col gap-3">
    <ButtonMenu title="Il Chase Ojub Tang Jong" href="/chase/tangJong/tangJong1" class="text-black font-bold py-2 px-2 bg-orange-500 rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out" />
    <ButtonMenu title="I Chase Ojub Tang Jong" href="/chase/tangJong/tangJong2" class="text-black font-bold py-2 px-2 bg-purple-800 rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out" />
  </section>
</Layout>