---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import PoomsaeByName from '../../../components/PoomsaeByName.astro';
---
<Layout>
  <Header name="Il Chase Ojub Tang Jong" href="/chase/tangJong/tangJong" />
  <section class="pb-2">
    <PoomsaeByName name="Il Chase Ojub Tang Jong" />
  </section>
</Layout>
