---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import PoomsaeByName from '../../components/PoomsaeByName.astro';
---
<Layout>
  <Header name="Chase HakDary" href="/chases" />
  <section class="pb-2">
    <PoomsaeByName name="Il Chase HakDary Chuchum Sogui" />
  </section>
</Layout>
