@import "tailwindcss";

* {
  user-select: none;
}

@font-face {
  font-family: 'hykor';
  src: url('/fonts/HY GUNGSO STD B.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-hykor: 'hykor';
}