---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import PoomsaeByName from '../../../components/PoomsaeByName.astro';
---
<Layout>
  <Header name="Won Il Dan" href="/poomsaes/won/won" />
  <section class="pb-2">
    <PoomsaeByName name="Won Il Dan" />
  </section>
</Layout>
