---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import ButtonMenu from "../../../components/ButtonMenu.astro";
---
<Layout>
  <Header name="I Chol Bong Poomsaes" href="/mugiPoomsaes" />
  <section class="flex flex-col gap-3">
    <ButtonMenu title="I Chol Bong Il Dan" href="/mugiPoomsaes/iCholBong/iCholBongIlDan" class="text-black font-bold py-2 px-2 bg-green-800 rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out"  />
    <ButtonMenu title="I Chol Bong I Dan" href="/mugiPoomsaes/iCholBong/iCholBongIDan" class="text-black font-bold py-2 px-2 bg-purple-800 rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out" />
    <ButtonMenu title="I Chol Bong Sam Dan" href="/mugiPoomsaes/iCholBong/iCholBongSamDan" class="relative z-10 overflow-hidden text-white font-bold py-2 px-2 rounded-sm transition duration-300 ease-in-out before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-[linear-gradient(to_bottom,#78350f_50%,#000000_50%)] before:z-0" />
  </section>
</Layout>