---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import ButtonMenu from "../../../components/ButtonMenu.astro";
---
<Layout>
  <Header name="I Chol Bong Poomsaes" href="/mugiPoomsaes" />
  <section class="flex flex-col gap-3">
    <ButtonMenu title="I Chol Bong Il Dan" href="/mugiPoomsaes/iCholBong/iCholBongIlDan" />
    <ButtonMenu title="I Chol Bong I Dan" href="/mugiPoomsaes/iCholBong/iCholBongIDan" />
    <ButtonMenu title="I Chol Bong Sam Dan" href="/mugiPoomsaes/iCholBong/iCholBongSamDan" />
  </section>
</Layout>