---
import Layout from '../layouts/Layout.astro';
import ButtonMenu from '../components/ButtonMenu.astro';
import Header from '../components/Header.astro';
---
<Layout>  
  <section class="">
    <Header name="Chases" href='/' />
    <article class="flex flex-col gap-3">
      <ButtonMenu title="Chase Sajoe" href="/chase/sajoe/sajoe" />
      <ButtonMenu title="Chase Ojub Tang Jong" href="/chase/tangJong/tangJong" />
      <ButtonMenu title="Chase GeumGang" href="/chase/geumGang/geumGang" />
    </article>
  </section>
</Layout>
