---
import Layout from "../layouts/Layout.astro";
import ButtonMenu from "../components/ButtonMenu.astro";
import Header from "../components/Header.astro";
import SubmenuButton from "../components/SubmenuButton.astro";
import Blanco from "./grades/blanco.astro";

const menuOptions = [
  { title: "Blanco", path: "/hoShinSul/blanco" },
  { title: "Amarillo", path: "/hoShinSul/amarillo" },
  { title: "Naranja", path: "/hoShinSul/naranja" },
  { title: "Verde", path: "/hoShinSul/verde" },
  { title: "Azul", path: "/hoShinSul/azul" },
  { title: "Púrpura", path: "/hoShinSul/purpura" },
  { title: "Rojo", path: "/hoShinSul/rojo" },
  { title: "Rojo Marrón", path: "/hoShinSul/rojoMarron" },
  { title: "Marrón", path: "/hoShinSul/marron" },
  { title: "Marrón Negro", path: "/hoShinSul/marronNegro" },
  { title: "Negro 1er Dan", path: "/hoShinSul/negro1Dan" },
  { title: "Negro 2er Dan", path: "/hoShinSul/negro2Dan" },
  { title: "Negro 3er Dan", path: "/hoShinSul/negro3Dan" },
  { title: "Negro 4er Dan", path: "/hoShinSul/negro4Dan" },
  { title: "Negro 5er Dan", path: "/hoShinSul/negro5Dan" },
];

const menu = [
  {title: "contra garre lineal de muñeca", path: ""},
  {title: "contra agarre cruzado de muñeca", path: ""},
  {title: "puño contra puño", path: ""},
  {title: "contra agarres por la espalda", path: ""},
  {title: "patada contra puño", path: ""},
  {title: "contra abrazos", path: ""},
  {title: "sentado", path: ""},
  {title: "contra agarre a dos brazos", path: ""},
  {title: "llave contra puño", path: ""},
  {title: "saludo y conducción", path: ""},
  {title: "contra agarres de judo", path: ""},
  {title: "acostado", path: ""},
  {title: "contra patada", path: ""},
  {title: "mano vacía contra cuchillo", path: ""},
  {title: "con palo corto", path: ""},
  {title: "contra armas de fuego", path: ""},
  {title: "sentado en silla", path: ""},
  {title: "con bastón", path: ""},
  {title: "palo corto contra sable de bambú", path: ""},
  {title: "con cinturón", path: ""},
  {title: "mokkum contra mano vacía", path: ""},
  {title: "de palo corto contra cuchillo", path: ""},
]
---

<Layout>
  <section>
    <Header name="Ho Sin Sul" href="/" />

    <article class="flex flex-col gap-3 pb-4">
      {
        menuOptions.map(({ title, path }) => (
          <SubmenuButton title={title} href={path} />
        ))
      }
    </article>
  </section>
</Layout>
