---
import Layout from '../layouts/Layout.astro';
import ButtonMenu from '../components/ButtonMenu.astro';
import Header from '../components/Header.astro';
---
<Layout>  
  <section class="">
    <Header name="Ho Shin Sul" href='/' />
    <article class="flex flex-col gap-3 pb-4">
      <ButtonMenu title="Blanco" href="/hoShinSul/blanco"  class="text-black font-bold py-2 px-2 bg-white rounded-sm transition duration-300 ease-in-out" />
      <ButtonMenu title="Amarillo" href="/hoShinSul/amarillo" class="text-black font-bold py-2 px-2 bg-yellow-300 rounded-sm transition duration-300 ease-in-out" />
      <ButtonMenu title="Naranja" href="/hoShinSul/naranja" class="text-black font-bold py-2 px-2 bg-orange-500 rounded-sm transition duration-300 ease-in-out" />
      <ButtonMenu title="Verde" href="/hoShinSul/verde" class="text-black font-bold py-2 px-2 bg-green-500 rounded-sm transition duration-300 ease-in-out" />
      <ButtonMenu title="Azul" href="/hoShinSul/azul" class="text-black font-bold py-2 px-2 bg-blue-700 rounded-sm transition duration-300 ease-in-out" />
      <ButtonMenu title="Purpura" href="/hoShinSul/purpura" class="text-black font-bold py-2 px-2 bg-purple-700 rounded-sm transition duration-300 ease-in-out" />
      <ButtonMenu title="Rojo" href="/hoShinSul/rojo" class="text-black font-bold py-2 px-2 bg-red-700 rounded-sm transition duration-300 ease-in-out" />
      <ButtonMenu title="Rojo Marrón" href="/hoShinSul/rojoMarron" class="relative z-10 overflow-hidden text-black font-bold py-2 px-2 rounded-sm transition duration-300 ease-in-out before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-[linear-gradient(to_bottom,_#b91c1c_50%,_#78350f_50%)] before:z-0" />
      <ButtonMenu title="Marrón" href="/hoShinSul/marron" class="text-black font-bold py-2 px-2 bg-[#78350f] rounded-sm transition duration-300 ease-in-out" />
      <ButtonMenu title="Marrón Negro" href="/hoShinSul/marronNegro" class="relative z-10 overflow-hidden text-white border-1 border-zinc-400 font-bold py-2 px-2 rounded-sm transition duration-300 ease-in-out before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-[linear-gradient(to_bottom,#78350f_50%,#000000_50%)] before:z-0" />
      <ButtonMenu title="Negro |" href="/hoShinSul/negro1Dan" class="text-yellow-300 font-bold py-2 px-2 border-1 border-zinc-400 bg-black rounded-sm transition duration-300 ease-in-out" />
    </article>
  </section>
</Layout>

