---
import Layout from '../layouts/Layout.astro';
import ButtonMenu from '../components/ButtonMenu.astro';
import Header from '../components/Header.astro';
---

<Layout>  
  <section class="">
    <Header name="Mugi Poomsaes" href='/' />
    <article class="flex flex-col gap-3">
      <ButtonMenu title="I Chol Bong Mugi Poomsaes" href="/mugiPoomsaes/iCholBong/iCholBong" />
      <ButtonMenu title="Jang Bong Mugi Poomsaes" href="/mugiPoomsaes/jangBong/jangBong" />
      <ButtonMenu title="Dan Bong Il Dan" href="/mugiPoomsaes/danBongIlDan" />
      <ButtonMenu title="Chang Il Dan" href="/mugiPoomsaes/changIlDan" />
      <ButtonMenu title="Puche Mugi Poomsaes" href="/mugiPoomsaes/puche/puche" />
    </article>
  </section>
</Layout>

