---
import Layout from '../layouts/Layout.astro';
import ButtonMenu from '../components/ButtonMenu.astro';
import Header from '../components/Header.astro';
---
<Layout>  
  <section class="">
    <Header name="Mugi Poomsaes" href='/' />
    <article class="flex flex-col gap-3">
      <ButtonMenu title="I Chol Bong Mugi Poomsaes" href="/mugiPoomsaes/iCholBong/iCholBong" />
      <ButtonMenu title="Jang Bong Mugi Poomsaes" href="/mugiPoomsaes/jangBong/jangBong" />
      <ButtonMenu title="Dan Bong Il Dan" href="/mugiPoomsaes/danBongIlDan" class="text-yellow-300 font-bold py-2 px-2 bg-black rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out" />
      <ButtonMenu title="Chang Il Dan" href="/mugiPoomsaes/changIlDan" class="text-yellow-300 font-bold py-2 px-2 bg-black rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out" />
      <ButtonMenu title="Puche Mugi Poomsaes" href="/mugiPoomsaes/puche/puche" class="text-yellow-300 font-bold py-2 px-2 bg-black rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out" />
    </article>
  </section>
</Layout>

