---
import Layout from '../layouts/Layout.astro';
import ButtonMenu from '../components/ButtonMenu.astro';
import Header from '../components/Header.astro';
---
<Layout>  
  <section class="">
    <Header name="Mugi Poomsaes" href='/' />
    <article class="flex flex-col gap-3">
      <ButtonMenu title="I Chol Bong Mugi Chase" href="/mugiChase/iCholBongChase"  />
      <ButtonMenu title="I Chol Bong Dobles Mugi Chase" href="/mugiChase/iCholBongDoblesChase" />
      <ButtonMenu title="Jang Bong Mugi Chase" href="/mugiChase/jangBongChase" />
      <ButtonMenu title="Dan Bong Mugi Chase" href="/mugiChase/danBongChase" />
    </article>
  </section>
</Layout>
