---
import Layout from '../layouts/Layout.astro';
import ButtonMenu from '../components/ButtonMenu.astro';
// import TechniquesByGrade from '../components/TechniquesByGrade.astro';
import Header from '../components/Header.astro';
---

<Layout>  
  <section class="">
    <Header name="Poomsaes" href='/' />
    <article class="flex flex-col gap-3">
      <ButtonMenu title="Joong Do Poomsaes" href="/poomsaes/joongDo/joongDo" />
      <ButtonMenu title="Won" href="/poomsaes/won/won" />
      <ButtonMenu title="Ki Hap" href="/poomsaes/kiHap" />
    </article>
  </section>
</Layout>

