---
import Layout from '../layouts/Layout.astro';
import ButtonMenu from '../components/ButtonMenu.astro';
import Header from '../components/Header.astro';
---
<Layout>  
  <section class="">
    <Header name="Poomsaes" href='/' />
    <article class="flex flex-col gap-3">
      <ButtonMenu title="Joong Do Poomsaes" href="/poomsaes/joongDo/joongDo" />
      <ButtonMenu title="Won" href="/poomsaes/won/won" />
      <ButtonMenu title="Ki Hap" href="/poomsaes/kiHap" class="text-yellow-300 font-bold py-2 px-2 bg-black rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out" />
    </article>
  </section>
</Layout>

