---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import ButtonMenu from "../../../components/ButtonMenu.astro";
---
<Layout>
  <Header name="Sajoe Chases" href="/chases" />
  <section class="flex flex-col gap-3">
    <ButtonMenu title="Il Chase Sajoe" href="/chase/sajoe/sajoe1" class="text-black font-bold py-2 px-2 bg-white rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out" />
    <ButtonMenu title="I Chase Sajoe" href="/chase/sajoe/sajoe2" class="text-black font-bold py-2 px-2 bg-yellow-300 rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out" />
    <ButtonMenu title="Sam Chase Sajoe" href="/chase/sajoe/sajoe3" class="text-black font-bold py-2 px-2 bg-orange-500 rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out" />
    <ButtonMenu title="Sa Chase Sajoe" href="/chase/sajoe/sajoe4" class="text-black font-bold py-2 px-2 bg-red-700 rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out" />
    <ButtonMenu title="O' Chase Sajoe" href="/chase/sajoe/sajoe5" class="relative z-10 overflow-hidden text-black font-bold py-2 px-2 rounded-sm transition duration-300 ease-in-out before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-[linear-gradient(to_bottom,_#b91c1c_50%,_#78350f_50%)] before:z-0" />
  </section>
</Layout>