---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import ButtonMenu from "../../../components/ButtonMenu.astro";
---
<Layout>
  <Header name="Sajoe Chases" href="/chases" />
  <section class="flex flex-col gap-3">
    <ButtonMenu title="Il Chase Sajoe" href="/chase/sajoe/sajoe1" />
    <ButtonMenu title="I Chase Sajoe" href="/chase/sajoe/sajoe2" />
    <ButtonMenu title="Sam Chase Sajoe" href="/chase/sajoe/sajoe3" />
    <ButtonMenu title="Sa Chase Sajoe" href="/chase/sajoe/sajoe4" />
    <ButtonMenu title="O' Chase Sajoe" href="/chase/sajoe/sajoe5" />
  </section>
</Layout>