---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import PoomsaeByName from '../../../components/PoomsaeByName.astro';
---
<Layout>
  <Header name="O' Chase Sajoe" href="/chase/sajoe/sajoe" />
  <section class="pb-2">
    <PoomsaeByName name="O' Chase Ap Kubi Me Chumok Oligui" />
  </section>
</Layout>
