---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import PoomsaeByName from '../../../components/PoomsaeByName.astro';
---
<Layout>
  <Header name="Sa Chase Sajoe" href="/chase/sajoe/sajoe" />
  <section class="pb-2">
    <PoomsaeByName name="Sa Chase Sajoe Ap Kubi Son Mok" />
  </section>
</Layout>
