---
interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;

const colorList: { [key: string]: string } = {
  Blanco: "bg-white",
  Amarillo: "bg-yellow-300",
  Naranja: "bg-orange-500",
  Verde: "bg-green-500",
  Azul: "bg-blue-700",
  Purpura: "bg-purple-700",
  Rojo: "bg-red-700",
  "Rojo Marrón": "bg-[linear-gradient(to_bottom,_#c10007_50%,_#78350f_50%)]",
  Marrón: "bg-[#78350f]",
  "Marrón Negro": "bg-[linear-gradient(to_bottom,#78350f_50%,#000000_50%)]",
  "Negro |": "bg-black",
  "Negro ||": "bg-black",
  "Negro |||": "bg-black",
  "Negro ||||": "bg-black",
  "Negro |||||": "bg-black",
};

const color = colorList[title] ?? "bg-gray-200";
---
<a href={href} class={`block max-w-sm p-3 ${color} border border-gray-200 rounded-lg shadow-sm`}>
  <h5 class=`mb-2 text-2xl font-bold tracking-tight 
    ${title === "Negro |" ? "text-yellow-300" 
    : title === "Negro ||" ? "text-yellow-300" 
    : title === "Negro |||" ? "text-yellow-300"
    : title === "Negro ||||" ? "text-yellow-300"
    : title === "Negro |||||" ? "text-yellow-300"
    : "text-gray-900"}`>
    {title}
  </h5>
  <i class=`mb-2 text-sm font-normal tracking-tight 
    ${title === "Negro |" ? "text-yellow-300" 
    : title === "Negro ||" ? "text-yellow-300" 
    : title === "Negro |||" ? "text-yellow-300" 
    : title === "Negro ||||" ? "text-yellow-300" 
    : title === "Negro |||||" ? "text-yellow-300" 
    : title === "Marrón Negro" ? "text-yellow-300" 
    : "text-black"}`>
    
    <span class="font-bold tracking-wide">
      {
        (title === 'Blanco') ? '(hayan tti) 하얀 띠' : 
        (title === 'Amarillo') ? '(noran tti) 노란 띠' : 
        (title === 'Naranja') ?  '(juhwang tti) 주황 띠' : 
        (title === 'Verde') ?  '(chorok tti) 초록 띠' : 
        (title === 'Azul') ?  '(paran tti) 파란 띠' : 
        (title === 'Purpura') ?  '(bora tti) 보라 띠' : 
        (title === 'Rojo') ?  '(ppalgan tti) 빨간 띠' : 
        (title === 'Rojo Marrón') ?  '(ppalgan galsaek tti) 빨간 갈색 띠' : 
        (title === 'Marrón') ?  '(galsaek tti) 갈색 띠' : 
        (title === 'Marrón Negro') ?  '(galsaek geomjeong tti) 갈색 검정 띠' : 
        (title === 'Negro |') ?  '(geomeun tti) 검은 띠' : 
        (title === 'Negro ||') ?  '(geomeun tti) 검은 띠' : 
        (title === 'Negro |||') ?  '(geomeun tti) 검은 띠' : 
        (title === 'Negro ||||') ?  '(geomeun tti) 검은 띠' : 
        (title === 'Negro |||||') ?  '(geomeun tti) 검은 띠' : ''
      }
    </span> .
  </i>
</a>
