---
import Marron from '../pages/hoShinSul/marron.astro';

interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;

const colorList: { [key: string]: string } = {
  Blanco: "bg-white",
  Amarillo: "bg-yellow-300",
  Naranja: "bg-orange-500",
  Verde: "bg-green-500",
  Azul: "bg-blue-700",
  Purpura: "bg-purple-700",
  Rojo: "bg-red-700",
  "Rojo Marrón": "bg-[linear-gradient(to_bottom,_#b91c1c_50%,_#78350f_50%)]",
  Marrón: "bg-[#78350f]",
  "Marrón Negro": "bg-[linear-gradient(to_bottom,#78350f_50%,#000000_50%)]",
  "Negro |": "bg-black",
};

const color = colorList[title] ?? "bg-gray-200";
---

<a href={href} class={`block max-w-sm p-3 ${color} border border-gray-200 rounded-lg shadow-sm`}>
  <h5 class=`mb-2 text-2xl font-bold tracking-tight ${title === "Negro |" ? "text-yellow-300" : "text-gray-900"}`>{title}</h5>
  <i class=`mb-2 text-sm font-normal tracking-tight ${title === "Negro |" ? "text-yellow-300" : title === "Marrón Negro" ? "text-yellow-300" : "text-black"}`>Aquí está el programa del grado <span class="font-bold tracking-wide">{title}</span> .</i>
</a>
