---
import ButtonMenu from "../components/ButtonMenu.astro";

interface Props {
  name: string;
  href: string
}

const { name, href } = Astro.props
---
<article class="flex items-center justify-between">
  <ButtonMenu title="Back" href={href}  />
  <h1 class="text-3xl font-bold ">{name}</h1>
</article>
<hr class="my-4 text-zinc-600" />

