---
import { mugiData } from '../data/mugiGibeom';
import type { MugiData, MugiChase } from '../data/mugiGibeom';

const { name } = Astro.props as { name: keyof MugiData };

// Validamos que exista esa categoría
const selectedList: MugiChase[] = mugiData[name] ?? [];

const titles: Record<keyof MugiData, string> = {
  NunchakusSencillo: "Nunchakus Sencillo",
  NunchakusDobles: "Nunchakus Dobles",
  JangBong: "Jang Bong",
};

const title = titles[name] ?? "Aún no hay datos disponibles para esta categoría.";
---
<section>
  {selectedList.length > 0 ? (
    <ul class="flex flex-col gap-2">
      {selectedList.map(({ num, description }) => (
        <li class="text-zinc-300"><strong>{num}.</strong> <i class="text-zinc-400">{description}</i></li>
      ))}
    </ul>
  ) : (
    <p>No hay datos disponibles.</p>
  )}
</section>
