---
import Arrow from "../icons/Arrow.astro";

interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;
---

<a
  href={href}
  class="flex justify-between h-18 items-center p-2 w-full bg-gray-800/50 hover:bg-gray-600 border-gray-700 border-1 rounded-lg"
>
  <p class=`text-zinc-300 font-bold text-lg`>
    {title}
  </p>
  <Arrow size={30} class="text-zinc-300 rotate-90" />
</a>
