---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import ButtonMenu from "../../../components/ButtonMenu.astro";
---
<Layout>
  <Header name="Joong Do Poomsaes" href="/poomsaes" />
  <section class="flex flex-col gap-3">
    <ButtonMenu title="Joong Do Il Dan" href="/poomsaes/joongDo/joongDoIlDan" />
    <ButtonMenu title="Joong Do I Dan" href="/poomsaes/joongDo/joongDoIDan" />
    <ButtonMenu title="Joong Do Sam Dan" href="/poomsaes/joongDo/joongDoSamDan" />
    <ButtonMenu title="Joong Do Sang Dan" href="/poomsaes/joongDo/joongDoSaDan" />
    <ButtonMenu title="Joong Do O' Dan" href="/poomsaes/joongDo/joongDoODan" />
  </section>
</Layout>