---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import PoomsaeByGrade from '../../../components/PoomsaeByGrade.astro';
---
<Layout>
  <Header name="Joong Do Il Dan" href="/poomsaes/joongDo/joongDo" />
  <section class="pb-2">
    <PoomsaeByGrade grade="Blanco" />
  </section>
</Layout>