---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import ButtonMenu from "../../../components/ButtonMenu.astro";
---
<Layout>
  <Header name="Joong Do Poomsaes" href="/poomsaes" />
  <section class="flex flex-col gap-3">
    <ButtonMenu title="Joong Do Il Dan" href="/poomsaes/joongDo/joongDoIlDan" class="text-black font-bold py-2 px-2 bg-white rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out" />
    <ButtonMenu title="Joong Do I Dan" href="/poomsaes/joongDo/joongDoIDan" class="text-black font-bold py-2 px-2 bg-green-700 rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out" />
    <ButtonMenu title="Joong Do Sam Dan" href="/poomsaes/joongDo/joongDoSamDan" class="text-black font-bold py-2 px-2 bg-purple-700 rounded-sm focus:bg-blue-700 lg:hover:bg-blue-400 transition duration-300 ease-in-out" />
    <ButtonMenu title="Joong Do Sa Dan" href="/poomsaes/joongDo/joongDoSaDan" class="relative z-10 overflow-hidden text-black font-bold py-2 px-2 rounded-sm transition duration-300 ease-in-out before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-[linear-gradient(to_bottom,_#b91c1c_50%,_#78350f_50%)] before:z-0" />
    <ButtonMenu title="Joong Do O' Dan" href="/poomsaes/joongDo/joongDoODan" class="relative z-10 overflow-hidden text-white font-bold py-2 px-2 rounded-sm transition duration-300 ease-in-out before:content-[''] before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-[linear-gradient(to_bottom,#78350f_50%,#000000_50%)] before:z-0" />
  </section>
</Layout>