---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import ButtonMenu from "../../../components/ButtonMenu.astro";
---
<Layout>
  <Header name="Puche Poomsaes" href="/mugiPoomsaes" />
  <section class="flex flex-col gap-3">
    <ButtonMenu title="Puche Il Dan" href="/mugiPoomsaes/puche/pucheIlDan" />
    <ButtonMenu title="Puche I Dan" href="/mugiPoomsaes/puche/pucheIDan" />
  </section>
</Layout>
