---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import PoomsaeByName from '../../../components/PoomsaeByName.astro';
---
<Layout>
  <Header name="Puche Il Dan" href="/mugiPoomsaes/puche/puche" />
  <section class="pb-2">
    <PoomsaeByName name="Puche Il Dan" />
  </section>
</Layout>
