---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import ButtonMenu from "../../../components/ButtonMenu.astro";
---
<Layout>
  <Header name="Jang Bong Poomsaes" href="/mugiPoomsaes" />
  <section class="flex flex-col gap-3">
    <ButtonMenu title="Jang Bong Il Dan" href="/mugiPoomsaes/jangBong/jangBongIlDan" />
    <ButtonMenu title="Jang Bong I Dan" href="/mugiPoomsaes/jangBong/jangBongIDan" />
    <ButtonMenu title="Jang Bong Sam Dan" href="/mugiPoomsaes/jangBong/jangBongSamDan" />
    <ButtonMenu title="Jang Bong Sa Dan" href="/mugiPoomsaes/jangBong/jangBongSaDan" />
  </section>
</Layout>