---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import PoomsaeByName from '../../../components/PoomsaeByName.astro';
---
<Layout>
  <Header name="Jang Bong I Dan" href="/mugiPoomsaes/jangBong/jangBong" />
  <section class="pb-2">
    <PoomsaeByName name="Jang Bong I Dan" />
  </section>
</Layout>
