---
import Layout from "../../layouts/Layout.astro";
import MugiChaseData from "../../components/MugiChaseData.astro";
import Header from "../../components/Header.astro";
---
<Layout>
  <Header name="Dan Bong Mugi Chase" href="/mugiChase" />
  <section class="pb-2">
    <MugiChaseData name="DanBongChase" />
  </section>
</Layout>